interactions:
- request:
    body: requestArea=POLYGON%28%28675615.4296875+6493875.1953125%2C675920.1171875+6493875.1953125%2C675920.1171875+6494502.1484375%2C677742.3828125+6494502.1484375%2C677742.3828125+6495263.8671875%2C675615.4296875+6495263.8671875%2C675615.4296875+6493875.1953125%29%29&srs=EPSG%3A3301
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Requested-With: [ShockwaveFlash/26.0.0.131]
    method: POST
    uri: http://register.metsad.ee/avalik/flashconf.php?in=objects&layer_id=10&operation=fw
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?><objects><obj id="16734500113"
        label="4"><ttip>12601:005:0356 - 4</ttip><url>info_teatis.php%3Ftoo_id%3D16734500113</url><wkt>POLYGON
        ((677371.613 6494921.554, 677376.106 6494912.158, 677409.257 6494922.9, 677407.952
        6494930.283, 677408.603 6494943.644, 677413.3 6495040.1, 677414.701 6495046.208,
        677408.501 6495047.856, 677407.982 6495052.467, 677406.817 6495062.811, 677399.786
        6495064.092, 677386.769 6495066.465, 677365.362 6495049.502, 677347.37 6495035.246,
        677338.854 6494976.14, 677371.613 6494921.554))</wkt></obj><obj id="16734600113"
        label="5"><ttip>12601:005:0356 -[...]
