interactions:
- request:
    body: requestArea=POLYGON+%28%2830+10%2C+40+40%2C+20+40%2C+10+20%2C+30+10%29%29&srs=EPSG%3A3301
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Requested-With: [ShockwaveFlash/26.0.0.131]
    method: POST
    uri: http://register.metsad.ee/avalik/flashconf.php?in=objects&layer_id=10&operation=fw
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?><objects><total>0 objects</total><dbtime>0.060</dbtime><time>0.062</time></objects>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
