interactions:
- request:
    body: requestArea=POLYGON+%28%28639187+6467431%2C+641313+6467431%2C+641313+6468819%2C+639187+6468819%2C+639187+6467431%29%29&srs=EPSG%3A3301
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Requested-With: [ShockwaveFlash/26.0.0.131]
    method: POST
    uri: http://register.metsad.ee/avalik/flashconf.php?in=objects&layer_id=10&operation=fw
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?><objects><obj id="3533008401"
        label="8"><ttip>60502:003:0341 - 8</ttip><url>info_teatis.php%3Ftoo_id%3D3533008401</url><wkt>POLYGON
        ((640452.153247669 6468187.71531356, 640453.808287636 6468242.99364846, 640393.233824837
        6468232.89790466, 640380.655521086 6468214.69246502, 640382.310561054 6468159.57963411,
        640437.257887964 6468168.35134594, 640446.360607784 6468176.46104178, 640452.153247669
        6468187.71531356))</wkt></obj><obj id="3551208401" label="6"><ttip>60502:003:0341
        - 6</ttip><url>info_teatis.php%3Ftoo_id%3D3551208401</url><wkt>POLYGON ((640289.793826887
        6468367.[...]
