interactions:
- request:
    body: requestArea=POLYGON+%28%28647066.22+6423622.39%2C+647144.29+6423018.39%2C+647949.63+6423104.68%2C+648044.13+6423614.18%2C+647066.22+6423622.39%29%29&srs=EPSG%3A3301
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Requested-With: [ShockwaveFlash/26.0.0.131]
    method: POST
    uri: http://register.metsad.ee/avalik/flashconf.php?in=objects&layer_id=10&operation=fw
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?><objects><obj id="6046101701"
        label="5"><ttip>84301:001:0610 - 5</ttip><url>info_teatis.php%3Ftoo_id%3D6046101701</url><wkt>MULTIPOLYGON
        (((647367.241231649 6423568.16921089, 647344.070672109 6423578.09945069, 647342.746640136
        6423576.94092271, 647304.680720892 6423547.15020331, 647315.934992669 6423541.02655543,
        647351.849359955 6423574.45836276, 647367.241231649 6423568.16921089)), ((647657.700745877
        6423449.50284525, 647631.220106403 6423456.61951711, 647635.357706321 6423442.55167739,
        647655.383689923 6423438.24857347, 647673.754633558 6423430.63538962, 647676.071689512
   [...]
