interactions:
- request:
    body: !!python/unicode srs=EPSG%3A3301&requestArea=POLYGON+%28%28645666.1073256923+6484836.582757207%2C+645828.1793946003+6484815.670231932%2C+645982.4092658773+6484739.862329132%2C+645757.5996229086+6484360.822814591%2C+645590.2994226285+6484441.858848704%2C+645666.1073256923+6484836.582757207%29%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Requested-With: [ShockwaveFlash/26.0.0.131]
    method: POST
    uri: http://register.metsad.ee/avalik/flashconf.php?layer_id=10&operation=fw&in=objects
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><objects><total>0
        objects</total><dbtime>0.095</dbtime><time>0.100</time></objects>'}
    headers:
      content-type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
